transformation/
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
.env
dump.txt
oldmain.py
terraform.tfstate
terraform/variables.tf
./.idea







